<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black">
    <main class="h-screen bg-gradient-to-br from-emerald-700 to-teal-800 w-3/4 mx-auto flex flex-col gap-12">
        <div class="h-20 w-full">
            <h1 class="font-bold text-slate-900 text-[5rem] text-center">MUSICO</h1>

        </div>

        <div class="w-full pl-4 mt-10">
            <h3 class="text-slate-900 font-bold text-[4rem] ">
                Base URL - <br>
                <b class="text-white text-[2rem]">https://musico-production.up.railway.app/</b>
            </h3>

            <br>
        </div>

        <div class="flex items-start pl-4 flex-col">
            <p class="text-slate-900 font-bold text-[4rem]">Endpoints</p>

            <ol class="list-decimal list-inside space-y-2 text-[2rem]">
                <div>
                    <li class="text-gray-800 dark:text-white">artists/:artist_name</li>
                    <i class="fa-solid fa-copy"></i>
                </div>
                <div>
                    <li class="text-gray-800 dark:text-white">songs/:song_name</li>
                    <i class="fa-solid fa-copy"></i>
                </div>
                <div>
                    <li class="text-gray-800 dark:text-white">album/:album_name</li>
                    <i class="fa-solid fa-copy"></i>
                </div>
            </ol>
        </div>

        <footer class="flex flex-col justify-center items-center">
            <p class="font-bold text-black text-3xl">
                Made by yash
            </p>
            <a href="https://github.com/yash-15-d" target="_blank" class="font-bold text-black text-3xl">Github</a>
        </footer>
    </main>
</body>

</html>