<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="box-border m-0 p-0">
    <main class="w-screen h-screen bg-black flex flex-col p-4 gap-2 overflow-y-scroll overscroll-none">
        <section class="h-20 w-full p-4 bg-black flex gap-4">
            <div class="w-full h-full flex-1 ">
                <h1 class="mx-auto font-bold text-[3rem] text-white tracking-wider">
                    MUSICO
                </h1>
            </div>

            <div class="flex-1 bg-emerald-700">
                <p>
                    How to use??
                </p>
            </div>
        </section>

        <section class="h-full w-full bg-black p-4 rounded-lg flex flex-col">
            <div class="flex md:gap-4 items-center w-1/2">
                <form action="" class="w-full">
                    <div class="mb-5">
                        <label for="base-input" class="block mb-2 text-lg font-bold text-gray-900 dark:text-white">Enter
                            URL</label>
                        <label for="example" class="text-white font-normal text-lg">
                            https://musico-production.up.railway.app/endpoint
                        </label>

                        <div class="flex items-center gap-4 h-full">
                            <input type="text" id="base-input"
                                class="bg-gray-50 border border-gray-300 text-amber-400 text-sm rounded-lg block w-full p-2.5 dark:bg-slate-900 focus:outline-none focus:border-2 focus:border-white caret-amber-200">

                            <button
                                class="border-blue-600 w-1/4 h-10 bg-white rounded-lg text-lg font-bold text-black hover:bg-amber-400 transition-colors duration-500">
                                Fetch
                            </button>
                        </div>

                    </div>
                </form>

            </div>

            <h3 class="text-white text-lg font-bold mb-5">Example Response</h3>
            <textarea readonly placeholder="Response"
                class="text-white bg-black h-[500px] overflow-y-scroll max-w-full resize-none rounded-lg p-2 focus:border-white focus:border-2 focus:outline-none border-white border-2">

                {"_id":"666bf4fa8997e991bdddaca0","artist_names":"chinmayi, gopi sundar","track_name":"titli","album_name":"chennai express","image_url":"https://i.scdn.co/image/ab67616d0000b273dfd1ddf5b8431d6fc5210d6c","image_height":640,"image_width":640,"preview_url":"https://p.scdn.co/mp3-preview/6df2abb77d5574868c0ff964536dd108b9bf9fb9?cid=a003ddf0b3d946b98adce4bdfb837365"},{"_id":"666bf4fa8997e991bdddaffe","artist_names":"amitabh bhattacharya, anusha mani","track_name":"tera rastaa chhodoon na","album_name":"chennai express","image_url":"https://i.scdn.co/image/ab67616d0000b273dfd1ddf5b8431d6fc5210d6c","image_height":640,"image_width":640,"preview_url":"https://p.scdn.co/mp3-preview/9870975db013c5247aff93c9358ebbc72ead318f?cid=a003ddf0b3d946b98adce4bdfb837365"}
            </textarea>
        </section>
    </main>

    <script src="../../util/validate.js"></script>
</body>

</html>